@charset "utf-8";

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #505050;
}

/* Стили для авторизации*/

#container {
    width: 600px;
    margin: 150px auto;
    background-color: #A5A5A5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #F77408;
}

#logoAuthor {
	color: #fff;
}

#container input {
	width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#container button{
	width: 100%;
    background-color: #F77408;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

#container button:hover {
    background-color: #505050;
}

#container a{
	color: #505050;
}

#container a:hover {
	color: #F77408;
}

/* Стили для main_index*/

header {
	width: 100%;
	float: left;
	background-color: #505050;
	border-bottom: 5px solid silver;
	margin-top: 0px; /* Внешний отступ сверху */
    padding-top: 0px;
}

header {
    background-color: #505050;
    color: #fff;
    padding: 20px 0;
    text-align: center;
	float: center;
}

h1 {
    margin: 0;
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li, #regAuth{
    display: inline;
    margin-right: 20px;
}

nav ul li a, #regAuth a  {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover, #regAuth a:hover {
    background-color: #F77408;
}

.logo {
	color: #F77408;
}

#regAuth {
	width: 30%;
	float: right;
	text-align: right;
	font-size: 1.2em;
}

/* Стили для main */


/* Стили для статей */

#article {
    background-color: #A5A5A5;
    border-radius: 5px;
    margin: 70px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#article h2 {
    margin-top: 0px;
    margin: 10px;
}

#article p {
    margin-bottom: 1px;
}

#article a {
    text-decoration: none;
    color: #F77408;
}

#article a:hover {
    text-decoration: underline;
    color: #505050;
}

/* Стили для Footer колонтитула*/
footer {
	width: 98%;
	float: left;
	padding: 1%;
	background-color: #505050;
	border-top: 2px solid silver;
	margin-top: 10px;
}

footer #social {
	float: left;
	width: 50%;
}

footer #social img {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
}

footer #right {
	float: right;
	width: 50%;
	text-align: right;
	font-size: 1.1em;
}

/* Стили для регистрации*/

#containerRegistr {
    width: 600px;
    margin: 150px auto;
    background-color: #A5A5A5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#containerRegistr h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #F77408;
}

#logoRegistr {
	color: #fff;
}

#containerRegistr input {
	width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#containerRegistr button{
	width: 100%;
    background-color: #F77408;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

#containerRegistr button:hover {
    background-color: #505050;
}

#containerRegistr a{
	color: #505050;
}

#containerRegistr a:hover {
	color: #F77408;
}
